

.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.7rem;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  flex: 10;
  font-size: 1rem;
}
.n-list > ul {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}

.n-list ul li {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.n-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: smaller;
    padding: 10px 10px;
    flex: 2;
}

.n-list > ul > li:hover {
  cursor: pointer;
  color: var(--orange);
  font-size: 1.2rem;
}


@media screen and (max-width: 480px) {
  .n-wrapper{
    margin-top: 2rem;
  }
  .n-list .randomList {
   display: none;
  }
  .n-list .n-button{
    height:auto;
    padding: 20px 10px;
    width:10rem;
    font-size: 30px;
  }
  .searchbar{
    height:auto;
    width:18rem;
  }
  .n-name img{
    height: auto;
    width:10rem;
  }
  .mix-button{
    padding:20px;
    font-size: large;
  }
  input[type="search"] {
    padding: 7px 8px;
    font-size: 125px;
  }
  .searchbarButton{
    font-size: 40px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes color-1 {
  0% {
    background-color: #EB73B9;
  }
  100% {
    background-color: #17EAD9;
  }
}

form {
    color: #555;
    display: flex;
    background-color: white;
    padding: 2px;
    border: 1px solid currentColor;
  }

  

  input[type="search"] {
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    
  }
  
  input[type="search"]::placeholder {
    color: #000000;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }

 